# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# MonoGame Content Builder
Content/bin/
Content/obj/
*.mgcb~

# Rider
.idea/

# VS Code
.vscode/

# Node
node_modules/

# Python
.venv/
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# User-specific files
*.rsuser
*.suo
*.user
*.userprefs
